<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}
  <h1>Workouts</h1>
    <hr>
    <div style="overflow:hidden">
        <h2>Today's Workout</h2>
        <div>
             <!--action="{{ url_for('saveExercise') }}"-->
            <form id="exForm" method="post">
                <table class="table table-sm table-responsive-md" id="exTable">
                    <thead class="thead-dark">
                      <tr>
                         <th style="width: 10%">Date</th>
                          <th style="width: 28%">Lift</th>
                          <th style="width: 12%">Weight</th>
                          <th style="width: 10%">Sets</th>
                          <th style="width: 10%">Reps</th>
                          <th style="width: 24%">Comments</th>
                          <th style="width: 6%">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr id="exRow">
                          <td>
                                <input type="date" name="date" class="form-control" id="exDate" value="{{ today }}">
                          </td>
                          <td>
                            <select class="form-control" id="exLift" name="lift">
                                {% for id, lift in lifts %}
                                    <option value="{{ id }}">{{ lift }}</option>
                                {% endfor %}
                            </select>
                          </td>
                          <td>
                              <input type="number" name="weight" class="form-control" id="exWeight"></input>
                          </td>
                          <td>
                              <input type="number" name="sets" class="form-control" id="exSets"></input>
                          </td>
                          <td>
                              <input type="number" name="reps" class="form-control" id="exReps"></input>
                          </td>
                          <td>
                                <textarea class="form-control" name="comments" rows="1" id="exComments"></textarea>
                          </td>
                          <td>
                              <div class="btn-group" role="group" id="exActions">
                                  <button type="button" class="btn btn-success fas fa-save" onclick="saveRow(this)"></button>
                                  <button type="button" class="btn fas fa-copy" style="padding: 10px;" onclick="copyRow(this)"></button>
                                  <button type="button" class="btn btn-danger fas fa-trash-alt" onclick="deleteRow(this)"></button>
                              </div>
                          </td>
                      </tr>
                    </tbody>
                </table>
            </form>
        </div>
            <div class="btn-group float-right mt-2" role="group">
                <button type="button" class="btn btn-outline-secondary">Load Template</button>
                <button type="button" class="btn btn-outline-secondary" onclick="addRow()">Add Exercise</button>
                <!--<button type="button" class="btn btn-outline-success">Save</button>-->
            </div>
    </div>
    <hr>
    <div>
        <h2>Historical Data</h2>
        <div id="dataTableDiv">
            {{data | safe}}
        </div>
    </div>
    <script>
        $(document).ready( function () {
            var table = $('#dataTableDiv table').DataTable({
                "pageLength": 50,
                "lengthMenu": [[50, 100, 200, 500, -1], [50, 100, 200, 500, "All"]],
            });
            <!--$('#dataTableDiv table').removeClass("table-striped");-->
            $('#dataTableDiv table thead').addClass("thead-dark");
        });
    </script>
{% endblock %}