<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}
<html>
  <body>
    <h1>Visualizations</h1>
    <canvas id="daysPerYearChart" width="400" height="200"></canvas>
    <canvas id="daysPerMonthChart" width="400" height="200"></canvas>
    <canvas id="liftsOverTimeChart" width="400" height="300"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

    <!--Commented out for time being. Need to pass flask input to this js file somehow if i want to use it-->
    <!--<script src="{{url_for('static', filename='chart_scripts.js')}}"></script>-->
  <script>

  <!--Create Year Per Day Chart-->

  <!--Get colors for bars. Necessary because # of bars is dynamic.-->
      barColors = [];
      for (var i = 0; i < {{ dpl }}.length; i++) {
        barColors[i] = themeColors[i]
      }
      var daysYearctx = document.getElementById("daysPerYearChart");
      var daysPerYearChart = new Chart(daysYearctx, {
        type: 'bar',
        data: {
            labels: [
                {% for l in dpl %}"{{ l }}",{% endfor %}
            ],
            datasets: [{
                label: 'Days Exercised Per Year',
                backgroundColor: barColors,
                borderColor: barColors,
                data: [
                    {% for v in dpv %}"{{ v }}",{% endfor %}
                ],
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Days Exercised Per Year',
            },
            legend: {
                display: false
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
      });

      <!--Create dataset based on data pased from flask-->
      var i;
      var dataPoints = {{ dpm_dict|safe }}
      var years = Object.keys({{ dpm_dict|safe }});
      var datasetData = [];
      for (var i = 0; i < Object.keys(dataPoints).length; i++){
        datasetData[i] = {
            label: 'Days Exercised Per Month in DataYear'.replace('DataYear', years[i]),
            fill: false,
            backgroundColor: themeColors[i],
            borderColor: themeColors[i],
            data: dataPoints[years[i]]
        }
      }

      <!--Create datys per month chart-->
      var daysMonthctx = document.getElementById("daysPerMonthChart");
      var daysPerMonthChart = new Chart(daysMonthctx, {
        type: 'line',
        data: {
            labels: ["January", "February", "March", "April", "May", "June", "July",
                    "August", "September", "October", "November", "December"],
            datasets: datasetData
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Days Exercised per Month'
            },
        }
      });

      <!--Create lifts over time chart-->
      var liftsOverTimectx = document.getElementById("liftsOverTimeChart");
      var liftsOverTimeChart = new Chart(liftsOverTimectx, {
        type: 'line',
        data: {
            labels: {{ dates|safe }},
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        },
      });
  </script>
  </body>
</html>
{% endblock %}