<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}
<html>
  <body>
    <h1>Visualizations</h1>
    <canvas id="daysPerYearChart" width="400" height="200"></canvas>
    <canvas id="daysPerMonthChart" width="400" height="200"></canvas>
    <canvas id="liftsOverTimeChart" width="400" height="300"></canvas>
    <div>
      <label for="exLift">Select Lift for Chart:</label>
      <select class="form-control" id="exLift" name="lift">
          {% for id, lift in lifts %}
              <option value="{{ id }}">{{ lift }}</option>
          {% endfor %}
      </select>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

    <!--Commented out for time being. Need to pass flask input to this js file somehow if i want to use it-->
    <!--<script src="{{url_for('static', filename='chart_scripts.js')}}"></script>-->
  <script>

  <!--PUT ALL OF THIS IN A SEPARATE FILE AND LOAD HERE-->
  <!--Create Year Per Day Chart-->

  <!--Get colors for bars. Necessary because # of bars is dynamic.-->
      barColors = [];
      for (var i = 0; i < {{ dpl }}.length; i++) {
        barColors[i] = themeColors[i]
      }
      var daysYearctx = document.getElementById("daysPerYearChart");
      var daysPerYearChart = new Chart(daysYearctx, {
        type: 'bar',
        data: {
            labels: [
                {% for l in dpl %}"{{ l }}",{% endfor %}
            ],
            datasets: [{
                label: 'Days Exercised Per Year',
                backgroundColor: barColors,
                borderColor: barColors,
                data: [
                    {% for v in dpv %}"{{ v }}",{% endfor %}
                ],
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Days Exercised Per Year',
                fontSize: 24,
            },
            legend: {
                display: false
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
      });


      <!--Create days per month chart-->
      var daysMonthctx = document.getElementById("daysPerMonthChart");
      var daysPerMonthChart = new Chart(daysMonthctx, {
        type: 'line',
        data: {
            labels: ["January", "February", "March", "April", "May", "June", "July",
                    "August", "September", "October", "November", "December"],
            datasets: getChartDataset({{ dpm_dict|safe }}, fill=false, colors=true)
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Days Exercised per Month',
                fontSize: 24,
            },
            scales: {
              xAxes:[{
                type: 'category',
              }],
            },
        }
      });

      <!--Create lifts over time chart-->

      <!--TODO - WRONG VALUE ON CHART - last value is first date in set, works backwards from there -->
      <!--Works by using the max ticks value. NOT MATCHING DATES CORRECTLY-->
      function createLiftsOverTime(data, fill = false, colors = false, ctx){
        var liftsOverTimectx = document.getElementById("liftsOverTimeChart");
        var liftsOverTimeChart = new Chart(liftsOverTimectx, {
          type: 'line',
          data: {
              labels: {{ dates|safe }},
              datasets: getChartDataset(data, fill, colors),
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true,
                      }
                  }],
                  xAxes:[{
                      ticks: {
                          maxTicksLimit:10
                      },
                      type: 'category',
                  }]
              },
              legend: {
                  display: false
              },
              title: {
                display: true,
                text: 'Lifts Over Time',
                fontSize: 24,
              },
          },
        });

        return liftsOverTimeChart;
      };

      var liftsOverTimectx = document.getElementById("liftsOverTimeChart");
      <!--CAN THESE VARIABLES BE AUTO POPULATED? HOW TO TAKE DEFAULT ARGUMENTS?-->
      <!--Put into variable so that the chart can be updated/deleted later on-->
      var liftsOverTimeChart = createLiftsOverTime(data = {{ lot_dict|safe }}, fill = false, colors = false, ctx =liftsOverTimectx);

      function loadLOTChart(){
        var lift = $("#exLift option:selected").text();
        liftsOverTimeChart.destroy();

        liftsOverTimeChart = new Chart(liftsOverTimectx, {
          type: 'line',
          data: {
              labels: {{ dates|safe }},
              datasets:  getChartDatasetTEMP(data = {{ lot_dict|safe }}, key=lift, fill=false, colors=true),
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true,
                      }
                  }],
                  xAxes:[{
                      ticks: {
                          maxTicksLimit:10
                      },
                      type: 'category',
                  }]
              },
              legend: {
                  display: false
              },
              title: {
                display: true,
                text: 'Lifts Over Time',
                fontSize: 24,
              },
          },
        });
      };

      $( "#exLift" ).change(function() {
        loadLOTChart();
      });
  </script>
  </body>
</html>
{% endblock %}